@charset "UTF-8";

/* 页面的背景色 */

/* 处理inline-block bug   @extend*/

/* 兼容的透明样式 @include opacity*/

/* 雪碧图处理 */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  width: 100%;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: inline-block;
  vertical-align: top;
}

.hidden {
  text-indent: -5000px;
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

input {
  -webkit-appearance: none;
}

.cl:after {
  content: "";
  clear: both;
  display: block;
}

.hide {
  display: none;
}

.pa {
  position: absolute;
}

.pf {
  position: fixed;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tst {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.lis-tit {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

input:disabled,
textarea:disabled {
  color: #fff;
}

.anim {
  opacity: 0;
}

.ps-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  width: 100%;
  font-family: "Microsoft YaHei", Helvetica, sans-serif;
  line-height: 1.5;
  background-color: "red";
  margin: 0 auto;
  overflow-x: hidden;
}

p {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

table {
  border-collapse: 0;
  border-spacing: 0;
}

.ver_line {
  display: inline-block;
  width: 1px;
  height: 100%;
  vertical-align: middle;
  overflow: hidden;
  margin-left: -1px;
}